* {
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

body {
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 74px;
    margin: auto;
    color: #2E2E2E;
}

.container {
    margin: 17px 17%;
    width: 65%;
    height: 40px;
    position: relative;
}

.logo {
    width: 92px;
    display: inline;
    z-index: 1;
}

.logo img {
    padding: 5px 0 0 0;
}

.nav {
    text-align: right;
    position: absolute;
    margin-top: -16px;
    display: inline;
    top: 80%;
    /*margin-left: 49%;*/
    display:table; 
    width:100%;
   /* margin-left: 736px;*/
}

.header ul {
    display: inline;
    text-align: left;
}

.header ul li {
    display: inline;
    list-style: none;
    text-transform: uppercase;
    margin-right: 40px;
    margin-top: 10px;
}

h1 {
    font-family: "Lora", serif;
    font-size: 50px;
    margin-top: 89px;
    text-align: center;
}

h2 {
   font-size: 17px;
   opacity: 0.63;
   margin-top: 20px;
   text-align: center;
   height: 20px; 
}

.MainImg {
    width: 100%;
    max-height: 534px;
    margin-top: 93px ;
}

.MainInfo p {
    width: 960px;
    height: 1431px;
    color: #101315;
    font-size: 24px;
    margin: 140px auto 135px;
}

.tan {
    width: 100%;
    height: 89px;
    background-color: #4D565D;
    opacity: 0.6;
    z-index: 0;
}

.bottom {
    width: 100%;
    height: 89px;
    background: url(./bottom.png);
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo {

}

.botmenu {
    
}
.container1 {
    margin: 0px 17%;
    padding-top: 17px;
    width: 65%;
    height: 40px;
    position: relative;
    /*display:table; 
    vertical-align: middle;*/
}

.imgbox{
    z-index: 0;
    display: inline;
}

.bottom ul {
    display: inline;
    text-align: left;
}

.bottom ul li {
    display: inline;
    list-style: none;
    text-transform: uppercase;
    margin-right: 40px;
    margin-top: 10px;
}


.nav1 {
    color: #ffffff;
    text-align: right;
    position: absolute;
    margin-top: -16px;
    display: inline;
    display:table; 
    width:100%;
}